$primary-color: #6d1e8b;
$secondary-color: #bef0c8;
$secondary-light-color: #c3f1cd;
$text-color: #111;
$text-light-color: #777;
$gray-color: #f7f7f7;
$section-bg-color: #fff;

$font-family: "Raleway", sans-serif;
$second-family: "Inknut Antiqua", sans-serif;
$third-family: "Inter", sans-serif;

$tablet-width: 48rem;