// блок с аватаркой и инфой юзера
.user-block {
  display: flex;
  gap: 2rem;
  align-items: center;
  &__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
  &__details {
    display: flex;
    flex-direction: column;
  }
  &__info {
    display: flex;
    margin-top: 1rem;
    &-date {
      margin: 0.2rem 0 0 2rem;
    }
  }
  &__actions {
    margin-left: auto;
    .actions-share, .actions-logout {
      color: $text-light-color;
    }
  }
}

// элемент рейтинга со звездочкой
.raiting {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #f7f7f7;
  border-radius: 2.2rem;
  padding: 0 1rem 0.5rem 1rem;
  line-height: normal;
  &::after {
    content: '';
    display: block;
    background-image: url(./assets/images/rating-star.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
  }
}

// кнопки поделиться и сделать любимым
.actions-fav, .actions-share, .actions-logout {
  color: $gray-dark-color;
  transition: color 0.3s ease;
  &.active {
    color: $primary-color;
  }
}

// кнопки лайка и дислайка
.action {
  &-state {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &-dislike {
    .opposite {
      fill: #fff;
    }
    &.active {
      .opposite {
        fill: #111;
      }
    }
  }
  &-like {
    &.active {
      .icon {
        fill: rgb(255, 29, 29);
        color: rgb(255, 29, 29);
      }
    }
  }
}

// оставить комментарий
.leave-comment {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  &__input {
    border-radius: 2rem;
    background-color: $gray-color;
    padding: 1.4rem 2.2rem;
    width: 100%;
    height: initial;
  }
  &__btn {
    border-radius: 2rem;
    padding: 2rem;
    &::after {
      content: '';
      display: block;
      width: 4.8rem;
      height: 4.8rem;
      background-image: url(./assets/images/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }
}

// комментарий
.comment {
  padding: 1.5rem 0 1.5rem;
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  &__avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    img {
      border-radius: inherit;
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  &__text {
    line-height: 150%;
  }
  &__bottom {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
  }
  &__btn {
    &-respond {
      color: $primary-color;
    }
    &-complain {
      margin-left: auto;
      color: $text-light-color;
    }
  }
  .action-like {
    width: 3.6rem;
    height: 3.2rem;
  }
  .action-dislike {
    width: 3rem;
    height: 3rem;
  }
  // комментарий ответ
  &_replay {
    margin-left: 4rem;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 2rem;
      height: 4rem;
      background-image: url(./assets/images/comment-thread-icon.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      position: absolute;
      top: 1.5rem;
      left: -4rem;
    }
    .leave-comment {
      margin-left: -4rem;
      padding: 1rem 0;
    }
  }
}
