// блок с аватаркой и инфой юзера
.user-block {
  display: flex;
  gap: 2rem;
  align-items: center;
  &__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    img {
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
  }
  &__info {
    display: flex;
    margin-top: 1rem;
    &-date {
      margin: 0.2rem 0 0 2rem;
    }
  }
  &__actions {
    margin-left: auto;
    .actions-share, .actions-logout {
      color: $text-light-color;
    }
  }
}

// элемент рейтинга со звездочкой
.raiting {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #f7f7f7;
  border-radius: 2.2rem;
  padding: 0 1rem 0.5rem 1rem;
  line-height: normal;
  &::after {
    content: '';
    display: block;
    background-image: url(./assets/images/rating-star.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
  }
}

// кнопки поделиться и сделать любимым
.actions-fav, .actions-share, .actions-logout {
  color: $gray-dark-color;
  transition: color 0.3s ease;
  width: 4.8rem;
  height: 4.8rem;
  svg {
    height: 100%;
    width: auto;
  }
  &.active {
    color: $primary-color;
  }
}

.actions-login {
  display: flex;
  align-items: center;
  gap: 2rem;
  p {
    color: $text-color;
  }
}

// кнопки лайка и дислайка
.action {
  &-state {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &-dislike {
    .opposite {
      fill: #fff;
    }
    &.active {
      .opposite {
        fill: #111;
      }
    }
  }
  &-like {
    &.active {
      .icon {
        fill: rgb(255, 29, 29);
        color: rgb(255, 29, 29);
      }
    }
  }
}

// оставить комментарий
.leave-comment {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  &__input {
    border-radius: 2rem;
    background-color: $gray-color;
    padding: 1.4rem 2.2rem;
    width: 100%;
    height: initial;
  }
  &__btn {
    border-radius: 2rem;
    padding: 2rem;
    &::after {
      content: '';
      display: block;
      width: 4.8rem;
      height: 4.8rem;
      background-image: url(./assets/images/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }
}

// комментарий
.comment {
  padding: 1.5rem 0 1.5rem;
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  &__avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    img {
      border-radius: inherit;
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  &__text {
    line-height: 150%;
  }
  &__bottom {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
  }
  &__btn {
    &-respond {
      color: $primary-color;
    }
    &-complain {
      margin-left: auto;
      color: $text-light-color;
    }
  }
  .action-like {
    width: 3.6rem;
    height: 3.2rem;
    cursor: pointer;
    @include big-screen {
      svg {
        width: auto;
        height: 100%;
      }
    }
  }
  .action-dislike {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    @include big-screen {
      width: 3.6rem;
      height: 3.2rem;
      svg {
        width: 100%;
        height: 109%;
      }
    }
  }
  // комментарий ответ
  &_replay {
    margin-left: 4rem;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 2rem;
      height: 4rem;
      background-image: url(./assets/images/comment-thread-icon.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      position: absolute;
      top: 1.5rem;
      left: -4rem;
    }
    .leave-comment {
      margin-left: -4rem;
      padding: 1rem 0;
    }
  }
}

// контакты пользователя
.user-contact {
  display: grid;
  grid-template-columns: 10rem;
  row-gap: 2rem;
  &__field {
    display: flex;
    grid-column: 2;
    align-items: center;
  }
  &__img {
    grid-column: 1;
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    background-color: $gray-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
  &__input {
    border: solid 0.1rem transparent;
    padding: 1rem 0;
    border-bottom: solid 0.1rem transparent;
    width: 52rem;
    display: block;
    &._edit {
      border-bottom: solid 0.1rem $primary-color;
    }
  }
  &__action {
    width: 4rem;
    height: 4rem;
    margin-left: auto;
    &._edit {
      .edit-img {
        display: none;
      }
      .save-img {
        display: block;
      }
    }
    .save-img {
      display: none;
    }
    .edit-img {
      display: block;
    }
    &.contact-share {
      border-radius: 50%;
      background-color: #E7E4F9;
      color: $primary-color;
      width: 5rem;
      height: 5rem;
      padding: 0.5rem;
      svg {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

.settings-item {
  display: flex;
  gap: 2rem;
  padding: 2.4rem 2rem;
  border-radius: 2rem;
  background-color: $gray-color;
  &__checkbox {
    position: relative;
    width: 6rem;
    height: 3.2rem;
    display: inline-block;
  }
  &__input {
    display: none;
    &:checked + .settings-item__slider {
      background-color: $primary-color;
    }
    &:checked + .settings-item__slider:before {
      transform: translateX(2.9rem);
    }
  }
  &__slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border-radius: 6.8rem;
    &:before {
      background-color: #fff;
      bottom: 0.3rem;
      content: "";
      height: 2.6rem;
      left: 0.3rem;
      position: absolute;
      transition: 0.4s;
      width: 2.6rem;
      border-radius: 50%;
    }
  }

}

// EDITS
.no-picture img{object-fit: none;background-color: #fff; width: auto; height: auto;}.user-block__avatar.no-picture img{height: 100%;object-fit: cover;}.sale-announc__item-img.no-picture {object-fit: none; background-color: #FFF; display: flex;}.sale-announc__item-img.no-picture img {object-fit: none;}.card .header__search-input {color: #111111}
.announc-section { padding: 2rem 0; overflow: hidden;}
.announc {
  border-radius: 3rem;
  background-color: #fff;
  padding: 2rem;
  position: relative;
}
.announc .sale-announc__item-actions {
  flex-direction: column;
}
.announc__title-edit {
  display: flex;
  width: 49rem;
  align-items: center;
}
.announc__title-edit .input-edit{
  width: 44rem;
}
.announc__item-title {
  border: solid 0.1rem transparent;
  border-radius: 1rem;
  padding: 0.5rem;
}
.announc__item-title._edit {
  border: solid 0.1rem #777;
}
.announc__details {
  display: flex;
  gap: 2rem;
}
.announc__moder-status span {
  font-weight: 700;
}
.announc__img-input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.announc__img-box {
  width: 100%;
  max-height: 64rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.announc__img-box .no-picture{
  height: auto;
  object-fit: none;
  width: 100%;
  border-radius: 2rem;
}
.announc__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.announc__info-category .nice-select, .announc__info-type .nice-select {
  width: 100%;
}
.announc__info-descr {
  width: 100%;
}
.announc__info-descr textarea{
  max-width: 64rem;
  min-width: 64rem;
  border: solid 0.1rem #777;
  border-radius: 1rem;
  padding: 1rem;
  min-height: 21rem;
  margin-bottom: 2rem;
}
.announc__info-contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.announc__price-edit {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.announc__price-edit input{
  width: 20rem;
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  border: solid 0.1rem transparent;
  border-radius: 1rem;
}
.announc__price-edit input._edit{
  border: solid 0.1rem #777;
}
.announc__info-type-no-edit span {
  font-weight: 700;
}
.announc__descr-save, .articles-form__option {
  text-align: center;
  padding: 2.6rem;
  width: 100%;
  background-color: #bef0c8;
  border-radius: 2rem;
}
.announc__info-link {
  padding: 1rem 0;
}
.announc__info-link span{
  color: #6d1e8b;
}
.articles-create__title {
  text-align: center;
}
.articles-create__form, .article-create__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 3rem;
  background-color: #fff;
  padding: 2rem;
  position: relative;
}
.art-create-input {
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 100%;
}
.articles-create__form  .nice-select, .article-create__form  .nice-select {
  width: 100%;
}
.art-create-input {
  max-width: 68rem;
  min-width: 68rem;
  min-height: 6rem;
}
.modal__complain-input {
  width: 100%;
  border-radius: 2rem;
  border: solid 0.1rem #777;
  padding: 1rem;
  margin-top: 3rem;
}
.contact-share {
  position: relative;
}
.contact-share .mess {
  font-size: 2.6rem;
  font-weight: 400;
  position: absolute;
  background-color: #E7E4F9;
  border-radius: 1.5rem;
  padding: 1rem;
  top: -8rem;
  left: -12rem;
  display: none;
}
.contact-share .mess.show {
  display: block;
}

.full-stars {
  text-align: center;
}
.full-stars .rating-group {
  display: inline-flex;
}
.full-stars input {
  position: absolute;
  left: -9999px;
}
.full-stars label {
  margin: 0;
  cursor: pointer;
}
.full-stars label svg {
  margin: 2px;
  height: 40px;
  width: 40px;
  fill: #FFE500;
  transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
  fill: #e3e3e3;
}
.full-stars .rating-group:hover label svg {
  fill: #FFE500;
}
.full-stars .rating-group input:hover ~ label svg {
  fill: #e3e3e3;
}
.modal__raiting-form .wrap-btn-modal .btn_with_bg{
  width: 22rem;
}