.profile {
  border-radius: 3rem;
  background-color: $section-bg-color;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0 0;
  &__user {
    .user-block__avatar {
      width: 14rem;
      height: 14rem;
      position: relative;
    }
    .raiting {
      position: absolute;
      bottom: -1.3rem;
      right: calc(50% - 4rem);
      z-index: 2;
    }
  }
  .user-block__info-date {
    margin: 0;
  }
  .user-block__details {
    margin-top: 1.5rem;
  }
  &__actions {
    margin-left: auto;
    .user-profile-share, .user-profile-fav {
      width: 4.8rem;
      height: 4.8rem;
      svg {
        height: 100%;
        width: auto;
      }
    }
  }
  &__tabs {
    margin-top: 3.5rem;
    gap: 4rem;
  }
  &__tab {
    padding-bottom: 1rem;
    &_settings {
      margin-left: auto;
      width: 4.8rem;
      height: 4.8rem;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
  .user-profile-fav {
    transition: color 0.3s ease;
    color: $text-light-color;
    &.active {
      color: $primary-color;
    }
  }
  &__user-avatar-input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  &-name {
    &:focus {
      border-bottom: solid 1px $primary-color;
    }
  }
}

.profile-gen {
  overflow: hidden;
  .container {
    padding: 0;
  }
  &__pane {
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    &._gen {
      border-radius: 3rem;
      background-color: $section-bg-color;
      padding: 2rem;
    }
    &._sale {
      flex-wrap: wrap;
      flex-direction: row;
    }
    &._articles {
      padding: 0;
    }
  }
  &__desc {
    margin-bottom: 4rem;
    &-title {
      margin-bottom: 2.5rem;
    }
    &-text {
      line-height: 150%;
      p {
        margin-bottom: 2rem;
      }
      ul {
        padding: 2rem 0;
      }
      li {
        list-style: disc;
        list-style-position: inside;
        &::marker {
          font-size: 2rem;
          line-height: 100%;
        }
      }
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  &__req {
    margin-bottom: 3.5rem;
    .user-contact {
      display: flex;
      &__field {
        width: 100%;
        position: relative;
      }
      &__info {
        width: 100%;
      }
      &__input {
        padding: 2.4rem 2rem;
        line-height: 130%;
        border-radius: 2rem;
        background-color: $gray-color;
        width: 100%;
        margin-top: 1.5rem;
        &._edit {
          border: solid 1px $primary-color;
        }
      }
      &__action {
        position: absolute;
        right: 1.5rem;
        bottom: 2.5rem;
        &.contact-share {
          bottom: 2rem;
        }
      }
    }
  }
  &__userid {
    .id {
      color: $primary-color;
      font-weight: 800;
    }
  }
  &__settings {
    &-notifications {
      margin: 2rem 0 4.5rem;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__article {
    position: relative;
    border-radius: 3rem;
    background-color: #fff;
    padding: 2rem;
    .my-article__delete {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  }
  .user-article {
    position: relative;
    border-radius: 3rem;
    background-color: #fff;
    padding: 2rem;
    &__actions {
      color: $gray-dark-color;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    &-fav {
      transition: color 0.3s ease;
      width: 4.8rem;
      height: 4.8rem;
      svg {
        height: 100%;
        width: auto;
      }
      &.active {
        color: #6d1e8b;
      }
    }
    &-share {
      width: 4.8rem;
      height: 4.8rem;
      svg {
        height: 100%;
        width: auto;
      }
    }
  }
  .my-public__delete {
    width: 4.8rem;
    height: 4.8rem;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.profile-imgs {
  padding: 4rem 0;
  &__title {
    margin-bottom: 1.5rem;
  }
  &__slide {
    position: relative;
    border-radius: 2rem;
    background-color: $gray-color;
    width: 40rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    border-radius: 2rem;
    width: 40rem;
    height: 40rem;
    overflow: hidden;
    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  &__delete {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: $section-bg-color;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem;
  }
  &__add {
    width: 8rem;
    height: 8rem;
    position: relative;
    img {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__input {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    opacity: 0;
  }
}