.tl-logo {
  font-family: $second-family;
  font-size: 2.8rem;
  font-weight: 600;
}

.txt16medium {
  font-size: 3.2rem;
  font-weight: 500;
}

.txt16semibold {
  font-size: 3.2rem;
  font-weight: 600;
}

.txt15medium {
  font-size: 3rem;
  font-weight: 500;
}

.txt14reg {
  font-size: 2.8rem;
  font-weight: 400;
}

.txt14medium {
  font-size: 2.8rem;
  font-weight: 500;
}

.txt14semibold {
  font-size: 2.8rem;
  font-weight: 600;
}

.txt13medium {
  font-size: 2.6rem;
  font-weight: 500;
}

.txt13reg {
  font-size: 2.6rem;
  font-weight: 400;
}

.txt12reg {
  font-size: 2.4rem;
  font-weight: 400;
}

.txt12medium {
  font-size: 2.4rem;
  font-weight: 500;
}