.header {
  padding: 0.8rem 0;
  background-color: $section-bg-color;
  border-radius: 0rem 0rem 2rem 2rem;
  &._border-none {
    border-radius: 0rem;
  }
  .container {

  }
  &__panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__logo {
    display: flex;
    gap: 1rem;
    color: $primary-color;
    align-items: center;
    width: 28rem;
    opacity: 1;
    transition: width 0.4s ease, opacity 0.4s ease;
    margin-left: 2rem;
    &._hide {
      width: 0rem;
      opacity: 0;
      @include big-screen {
        width: 28rem;
        opacity: 1;
      }
    }
    &-img {
      width: 6rem;
      height: 6rem;
      min-width: 6rem;
    }
  }
  &__search {
    position: relative;
    margin-left: auto;
    &-input {
      background-color: $gray-color;
      border-radius: 1rem;
      padding: 1rem 2rem;
      width: 30rem;
      transition: width 0.4s ease;
      &._wide {
        width: 60rem;
      }
    }
    &-btn {
      position: absolute;
      top: calc(50% - 1.5rem);
      right: 2.2rem;
      width: 3rem;
      height: 3rem;
      background-image: url(./assets/images/search-icon.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}