<section class="act-raiting">
  <div class="container">
    <div class="act-raiting__top">
      <div class="act-raiting__item">
        <p class="act-raiting__item-num txt12medium">1</p>
        <div class="user-block">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_3.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
            </div>
          </div>
        </div>
      </div>
      <div class="act-raiting__item">
        <p class="act-raiting__item-num txt12medium">2</p>
        <div class="user-block">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_4.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
            </div>
          </div>
        </div>
      </div>
      <div class="act-raiting__item">
        <p class="act-raiting__item-num txt12medium">3</p>
        <div class="user-block">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_2.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="act-raiting__section">
      <div class="act-raiting__item">
        <p class="act-raiting__item-num txt12medium">173</p>
        <div class="user-block">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_3.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
            </div>
          </div>
        </div>
      </div>
      <div class="act-raiting__item">
        <p class="act-raiting__item-num txt12medium">174</p>
        <div class="user-block">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_4.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
            </div>
          </div>
        </div>
      </div>
      <div class="act-raiting__item _current">
        <p class="act-raiting__item-num txt12medium">175</p>
        <div class="user-block">
          <a href="../profile.html" class="user-block__avatar">
            <img src="./assets/images/avatar_1.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../profile.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
            </div>
          </div>
        </div>
      </div>
      <div class="act-raiting__item">
        <p class="act-raiting__item-num txt12medium">176</p>
        <div class="user-block">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_3.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
            </div>
          </div>
        </div>
      </div>
      <div class="act-raiting__item">
        <p class="act-raiting__item-num txt12medium">177</p>
        <div class="user-block">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_4.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>