<div class="container">
  <form action="" class="announc-search-form">
    <div class="announc-search-form__best">
      <select name="" id="announc-search-form-best" value="Неделю">
        <option value="Ищу" class="announc-search-form__option" selected>Ищу</option>
        <option value="Предлагаю" class="announc-search-form__option">Предлагаю</option>
      </select>
    </div>
    <div class="announc-search-form__category">
      <select name="" id="announc-search-form-category">
        <option value="Все" class="announc-search-form__option">Все</option>
        <option value="Услуги" class="announc-search-form__option">Услуги</option>
        <option value="Товары" class="announc-search-form__option" selected>Товары</option>
        <option value="Оборудование" class="announc-search-form__option">Оборудование</option>
        <option value="Аттракционы" class="announc-search-form__option">Аттракционы</option>
        <option value="Работы" class="announc-search-form__option">Работы</option>
      </select>
    </div>
  </form>
</div>