<section class="articles">
  <div class="container">
    <div class="articles__item">
      <div class="articles__item-header">
        <a href="../user.html" class="articles__item-header-avatar user-block__avatar">
          <img src="./assets/images/avatar_1.png" alt="">
        </a>
        <div class="articles__item-header-details user-block__details">
          <h3 class="articles__item-header-name txt14medium">Василий Петров</h3>
          <div class="articles__item-header-info user-block__info">
            <p class="articles__item-header-raiting txt12medium raiting">4.9</p>
            <p class="articles__item-header-date user-block__info-date txt12reg">08.02.24 в 12:21</p>
          </div>
        </div>
        <div class="articles__item-actions">
          <button class="articles__item-share actions-share">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.61251 12.6L8.83248 13.38C8.36248 13.85 7.60253 13.85 7.13253 13.38L6.3525 12.6C5.8825 12.13 5.8825 11.37 6.3525 10.9L7.13253 10.12C7.60253 9.65005 8.36248 9.65005 8.83248 10.12L9.61251 10.9C10.0825 11.37 10.0825 12.13 9.61251 12.6Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.2324 4.3L14.2324 3.2C14.2324 2.54 14.7724 2 15.4324 2L16.5324 2C17.1924 2 17.7325 2.54 17.7325 3.2L17.7325 4.3C17.7325 4.96 17.1924 5.5 16.5324 5.5L15.4324 5.5C14.7724 5.5 14.2324 4.96 14.2324 4.3Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.2324 19.2L14.2324 20.3C14.2324 20.96 14.7724 21.5 15.4324 21.5L16.5324 21.5C17.1924 21.5 17.7325 20.96 17.7325 20.3L17.7325 19.2C17.7325 18.54 17.1924 18 16.5324 18L15.4324 18C14.7724 18 14.2324 18.54 14.2324 19.2Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.5226 5.21001L9.22266 10.51Z" fill="currentColor"/>
              <path d="M14.5226 5.21001L9.22266 10.51" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.5226 18.29L9.22266 12.99Z" fill="currentColor"/>
              <path d="M14.5226 18.29L9.22266 12.99" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <button class="articles__item-fav actions-fav">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.7299 3.51L15.4899 7.03C15.7299 7.52 16.3699 7.99 16.9099 8.08L20.0999 8.61C22.1399 8.95 22.6199 10.43 21.1499 11.89L18.6699 14.37C18.2499 14.79 18.0199 15.6 18.1499 16.18L18.8599 19.25C19.4199 21.68 18.1299 22.62 15.9799 21.35L12.9899 19.58C12.4499 19.26 11.5599 19.26 11.0099 19.58L8.01991 21.35C5.87991 22.62 4.57991 21.67 5.13991 19.25L5.84991 16.18C5.97991 15.6 5.74991 14.79 5.32991 14.37L2.84991 11.89C1.38991 10.43 1.85991 8.95 3.89991 8.61L7.08991 8.08C7.61991 7.99 8.25991 7.52 8.49991 7.03L10.2599 3.51C11.2199 1.6 12.7799 1.6 13.7299 3.51Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>
      <h2 class="articles__item-title txt16semibold">Топ 10 бизнес-идей в 2024г</h2>
      <p class="articles__item-preview txt13reg">
        Бизнес-пейзаж России никогда не был статичным,но прошедший 2023 год особенно выделился своими фундаментальными сдвигами и переменами, последствия которых перетекли и в 2024 годи, безусловно, скажутся и на всей дальнейшей ситуации.
      </p>
      <div class="articles__item-img">
        <img src="./assets/images/article_1.png" alt="">
      </div>
      <div class="articles__item-more txt13reg" hidden>
        <div class="articles__item-more-text">
          <p class="articles__item-text">
            В 2022 году более 500 иностранных компаний приняли решение о приостановке деятельности в России или о полном уходе с российского рынка. В связи с чем очень многие российские предприятия лишились части поставщиков и вынуждены были перестраивать работу, искать новых партнеров и запускать параллельный импорт. Против России было введено рекордное количество санкций, а на июль 2023 года ЕС начал работу уже над 12 пакетом. В условиях такого информационного фона трудно адекватно оценить последствия для рынка без обращения к статистике.
          </p>
          <ul class="articles__item-ul">
            <li class="articles__item-li">
              На 7% упали розничные продажи;
            </li>
            <li class="articles__item-li">
              На 11% сократились продажи у интернет-магазинов;
            </li>
            <li class="articles__item-li">
              На 3% и 9% соответственно выросли обороты в оптовой торговле и на маркетплейсах.
            </li>
          </ul>
        </div>
        <div class="articles__item-stats">
          <div class="articles__item-stats-item action-state">
            <div class="articles__item-stats-like action-like">
              <svg class="icon" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.558 16.9191C10.252 17.027 9.748 17.027 9.442 16.9191C6.832 16.0292 1 12.3169 1 6.02472C1 3.24719 3.241 1 6.004 1C7.642 1 9.091 1.79101 10 3.01348C10.909 1.79101 12.367 1 13.996 1C16.759 1 19 3.24719 19 6.02472C19 12.3169 13.168 16.0292 10.558 16.9191Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <p class="articles__item-stats-num txt12medium action-num">128</p>
          </div>
          <div class="articles__item-stats-item action-state">
            <div class="articles__item-stats-dislike action-dislike">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="opposite" d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" fill="#fff"/>
                <path d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path class="opposite" d="M16.3051 5.25012C16.4326 5.64762 16.5001 6.07512 16.5001 6.51762C16.5001 11.7676 11.6401 14.8651 9.46512 15.6151C9.21012 15.7051 8.79013 15.7051 8.53513 15.6151C8.04763 15.4501 7.43264 15.1651 6.76514 14.7676" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.5 1.49988L1.5 16.4999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="articles__item-stats-num txt12medium  action-num">24</p>
          </div>
        </div>
      </div>
      <button class="articles__item-btn txt13medium">
        <span class="_show">Развернуть</span>
        <span class="_hide">Свернуть</span>
      </button>
      <div class="articles__item-comments" hidden>
        <div class="articles__item-comments-header">
          <p class="articles__item-comments-num txt16semibold"><span>16</span> комментариев</p>
        </div>
        <div class="articles__item-comments-more" hidden>
          <form action="" class="leave-comment txt13medium article-comment">
            <input type="text" class="leave-comment__input" placeholder="Комментарий">
            <button class="btn-square leave-comment__btn"></button>
          </form>
          <div class="comment-list">
            <div class="comment-thread">
              <div class="comment">
                <div class="comment__header">
                  <div class="comment__avatar">
                    <img src="./assets/images/avatar_2.png" alt="">
                  </div>
                  <p class="comment__user-name txt14medium">Василий Петров</p>
                </div>
                <p class="comment__text txt13reg">
                  Увлекательные мысли, благодарю Вас!
                </p>
                <div class="comment__bottom">
                  <div class="comment__bottom-stats-item action-state">
                    <div class="comment__bottom-stats-like action-like">
                      <svg class="icon" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.558 16.9191C10.252 17.027 9.748 17.027 9.442 16.9191C6.832 16.0292 1 12.3169 1 6.02472C1 3.24719 3.241 1 6.004 1C7.642 1 9.091 1.79101 10 3.01348C10.909 1.79101 12.367 1 13.996 1C16.759 1 19 3.24719 19 6.02472C19 12.3169 13.168 16.0292 10.558 16.9191Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </div>
                    <p class="comment__bottom-stats-num txt12medium action-num">128</p>
                  </div>
                  <div class="comment__bottom-stats-item action-state">
                    <div class="comment__bottom-stats-dislike action-dislike">
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="opposite" d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" fill="#fff"/>
                        <path d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path class="opposite" d="M16.3051 5.25012C16.4326 5.64762 16.5001 6.07512 16.5001 6.51762C16.5001 11.7676 11.6401 14.8651 9.46512 15.6151C9.21012 15.7051 8.79013 15.7051 8.53513 15.6151C8.04763 15.4501 7.43264 15.1651 6.76514 14.7676" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16.5 1.49988L1.5 16.4999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <p class="comment__bottom-stats-num txt12medium  action-num">24</p>
                  </div>
                  <button class="comment__btn-respond txt12medium">Ответить</button>
                  <button class="comment__btn-complain txt12reg">Пожаловаться</button>
                </div>
              </div>
              <div class="comment__input-reply" hidden>
                <form action="" class="leave-comment txt13medium">
                  <input type="text" class="leave-comment__input" placeholder="Комментарий">
                  <button class="btn-square leave-comment__btn"></button>
                </form>
              </div>
              <div class="comment-thread comment_replay">
                <div class="comment">
                  <div class="comment__header">
                    <div class="comment__avatar">
                      <img src="./assets/images/avatar_2.png" alt="">
                    </div>
                    <p class="comment__user-name txt14medium">Василий Петров</p>
                  </div>
                  <p class="comment__text txt13reg">
                    Увлекательные мысли, благодарю Вас!
                  </p>
                  <div class="comment__bottom">
                    <div class="comment__bottom-stats-item action-state">
                      <div class="comment__bottom-stats-like action-like">
                        <svg class="icon" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.558 16.9191C10.252 17.027 9.748 17.027 9.442 16.9191C6.832 16.0292 1 12.3169 1 6.02472C1 3.24719 3.241 1 6.004 1C7.642 1 9.091 1.79101 10 3.01348C10.909 1.79101 12.367 1 13.996 1C16.759 1 19 3.24719 19 6.02472C19 12.3169 13.168 16.0292 10.558 16.9191Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </div>
                      <p class="comment__bottom-stats-num txt12medium action-num">128</p>
                    </div>
                    <div class="comment__bottom-stats-item action-state">
                      <div class="comment__bottom-stats-dislike action-dislike">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="opposite" d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" fill="#fff"/>
                          <path d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                          <path class="opposite" d="M16.3051 5.25012C16.4326 5.64762 16.5001 6.07512 16.5001 6.51762C16.5001 11.7676 11.6401 14.8651 9.46512 15.6151C9.21012 15.7051 8.79013 15.7051 8.53513 15.6151C8.04763 15.4501 7.43264 15.1651 6.76514 14.7676" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M16.5 1.49988L1.5 16.4999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                      </div>
                      <p class="comment__bottom-stats-num txt12medium  action-num">24</p>
                    </div>
                    <button class="comment__btn-respond txt12medium">Ответить</button>
                    <button class="comment__btn-complain txt12reg">Пожаловаться</button>
                  </div>
                </div>
                <div class="comment__input-reply" hidden>
                  <form action="" class="leave-comment txt13medium">
                    <input type="text" class="leave-comment__input" placeholder="Комментарий">
                    <button class="btn-square leave-comment__btn"></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="articles__item">
      <div class="articles__item-header">
        <a href="../user.html" class="articles__item-header-avatar user-block__avatar">
          <img src="./assets/images/avatar_1.png" alt="">
        </a>
        <div class="articles__item-header-details user-block__details">
          <h3 class="articles__item-header-name txt14medium">Василий Петров</h3>
          <div class="articles__item-header-info user-block__info">
            <p class="articles__item-header-raiting txt12medium raiting">4.9</p>
            <p class="articles__item-header-date user-block__info-date txt12reg">08.02.24 в 12:21</p>
          </div>
        </div>
        <div class="articles__item-actions">
          <button class="articles__item-share actions-share">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.61251 12.6L8.83248 13.38C8.36248 13.85 7.60253 13.85 7.13253 13.38L6.3525 12.6C5.8825 12.13 5.8825 11.37 6.3525 10.9L7.13253 10.12C7.60253 9.65005 8.36248 9.65005 8.83248 10.12L9.61251 10.9C10.0825 11.37 10.0825 12.13 9.61251 12.6Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.2324 4.3L14.2324 3.2C14.2324 2.54 14.7724 2 15.4324 2L16.5324 2C17.1924 2 17.7325 2.54 17.7325 3.2L17.7325 4.3C17.7325 4.96 17.1924 5.5 16.5324 5.5L15.4324 5.5C14.7724 5.5 14.2324 4.96 14.2324 4.3Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.2324 19.2L14.2324 20.3C14.2324 20.96 14.7724 21.5 15.4324 21.5L16.5324 21.5C17.1924 21.5 17.7325 20.96 17.7325 20.3L17.7325 19.2C17.7325 18.54 17.1924 18 16.5324 18L15.4324 18C14.7724 18 14.2324 18.54 14.2324 19.2Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.5226 5.21001L9.22266 10.51Z" fill="currentColor"/>
              <path d="M14.5226 5.21001L9.22266 10.51" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.5226 18.29L9.22266 12.99Z" fill="currentColor"/>
              <path d="M14.5226 18.29L9.22266 12.99" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </button>
          <button class="articles__item-fav actions-fav">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.7299 3.51L15.4899 7.03C15.7299 7.52 16.3699 7.99 16.9099 8.08L20.0999 8.61C22.1399 8.95 22.6199 10.43 21.1499 11.89L18.6699 14.37C18.2499 14.79 18.0199 15.6 18.1499 16.18L18.8599 19.25C19.4199 21.68 18.1299 22.62 15.9799 21.35L12.9899 19.58C12.4499 19.26 11.5599 19.26 11.0099 19.58L8.01991 21.35C5.87991 22.62 4.57991 21.67 5.13991 19.25L5.84991 16.18C5.97991 15.6 5.74991 14.79 5.32991 14.37L2.84991 11.89C1.38991 10.43 1.85991 8.95 3.89991 8.61L7.08991 8.08C7.61991 7.99 8.25991 7.52 8.49991 7.03L10.2599 3.51C11.2199 1.6 12.7799 1.6 13.7299 3.51Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </button>
        </div>
      </div>
      <h2 class="articles__item-title txt16semibold">Топ 10 бизнес-идей в 2024г</h2>
      <p class="articles__item-preview txt13reg">
        Бизнес-пейзаж России никогда не был статичным,но прошедший 2023 год особенно выделился своими фундаментальными сдвигами и переменами, последствия которых перетекли и в 2024 годи, безусловно, скажутся и на всей дальнейшей ситуации.
      </p>
      <div class="articles__item-img">
        <img src="./assets/images/article_1.png" alt="">
      </div>
      <div class="articles__item-more txt13reg" hidden>
        <div class="articles__item-more-text">
          <p class="articles__item-text">
            В 2022 году более 500 иностранных компаний приняли решение о приостановке деятельности в России или о полном уходе с российского рынка. В связи с чем очень многие российские предприятия лишились части поставщиков и вынуждены были перестраивать работу, искать новых партнеров и запускать параллельный импорт. Против России было введено рекордное количество санкций, а на июль 2023 года ЕС начал работу уже над 12 пакетом. В условиях такого информационного фона трудно адекватно оценить последствия для рынка без обращения к статистике.
          </p>
          <ul class="articles__item-ul">
            <li class="articles__item-li">
              На 7% упали розничные продажи;
            </li>
            <li class="articles__item-li">
              На 11% сократились продажи у интернет-магазинов;
            </li>
            <li class="articles__item-li">
              На 3% и 9% соответственно выросли обороты в оптовой торговле и на маркетплейсах.
            </li>
          </ul>
        </div>
        <div class="articles__item-stats">
          <div class="articles__item-stats-item action-state">
            <div class="articles__item-stats-like action-like">
              <svg class="icon" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.558 16.9191C10.252 17.027 9.748 17.027 9.442 16.9191C6.832 16.0292 1 12.3169 1 6.02472C1 3.24719 3.241 1 6.004 1C7.642 1 9.091 1.79101 10 3.01348C10.909 1.79101 12.367 1 13.996 1C16.759 1 19 3.24719 19 6.02472C19 12.3169 13.168 16.0292 10.558 16.9191Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <p class="articles__item-stats-num txt12medium action-num">128</p>
          </div>
          <div class="articles__item-stats-item action-state">
            <div class="articles__item-stats-dislike action-dislike">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="opposite" d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" fill="#fff"/>
                <path d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path class="opposite" d="M16.3051 5.25012C16.4326 5.64762 16.5001 6.07512 16.5001 6.51762C16.5001 11.7676 11.6401 14.8651 9.46512 15.6151C9.21012 15.7051 8.79013 15.7051 8.53513 15.6151C8.04763 15.4501 7.43264 15.1651 6.76514 14.7676" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.5 1.49988L1.5 16.4999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="articles__item-stats-num txt12medium  action-num">24</p>
          </div>
        </div>
      </div>
      <button class="articles__item-btn txt13medium">
        <span class="_show">Развернуть</span>
        <span class="_hide">Свернуть</span>
      </button>
      <div class="articles__item-comments" hidden>
        <div class="articles__item-comments-header">
          <p class="articles__item-comments-num txt16semibold"><span>16</span> комментариев</p>
        </div>
        <div class="articles__item-comments-more" hidden>
          <form action="" class="leave-comment txt13medium article-comment">
            <input type="text" class="leave-comment__input" placeholder="Комментарий">
            <button class="btn-square leave-comment__btn"></button>
          </form>
          <div class="comment-list">
            <div class="comment-thread">
              <div class="comment">
                <div class="comment__header">
                  <div class="comment__avatar">
                    <img src="./assets/images/avatar_2.png" alt="">
                  </div>
                  <p class="comment__user-name txt14medium">Василий Петров</p>
                </div>
                <p class="comment__text txt13reg">
                  Увлекательные мысли, благодарю Вас!
                </p>
                <div class="comment__bottom">
                  <div class="comment__bottom-stats-item action-state">
                    <div class="comment__bottom-stats-like action-like">
                      <svg class="icon" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.558 16.9191C10.252 17.027 9.748 17.027 9.442 16.9191C6.832 16.0292 1 12.3169 1 6.02472C1 3.24719 3.241 1 6.004 1C7.642 1 9.091 1.79101 10 3.01348C10.909 1.79101 12.367 1 13.996 1C16.759 1 19 3.24719 19 6.02472C19 12.3169 13.168 16.0292 10.558 16.9191Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </div>
                    <p class="comment__bottom-stats-num txt12medium action-num">128</p>
                  </div>
                  <div class="comment__bottom-stats-item action-state">
                    <div class="comment__bottom-stats-dislike action-dislike">
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="opposite" d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" fill="#fff"/>
                        <path d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path class="opposite" d="M16.3051 5.25012C16.4326 5.64762 16.5001 6.07512 16.5001 6.51762C16.5001 11.7676 11.6401 14.8651 9.46512 15.6151C9.21012 15.7051 8.79013 15.7051 8.53513 15.6151C8.04763 15.4501 7.43264 15.1651 6.76514 14.7676" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16.5 1.49988L1.5 16.4999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <p class="comment__bottom-stats-num txt12medium  action-num">24</p>
                  </div>
                  <button class="comment__btn-respond txt12medium">Ответить</button>
                  <button class="comment__btn-complain txt12reg">Пожаловаться</button>
                </div>
              </div>
              <div class="comment__input-reply" hidden>
                <form action="" class="leave-comment txt13medium">
                  <input type="text" class="leave-comment__input" placeholder="Комментарий">
                  <button class="btn-square leave-comment__btn"></button>
                </form>
              </div>
              <div class="comment-thread comment_replay">
                <div class="comment">
                  <div class="comment__header">
                    <div class="comment__avatar">
                      <img src="./assets/images/avatar_2.png" alt="">
                    </div>
                    <p class="comment__user-name txt14medium">Василий Петров</p>
                  </div>
                  <p class="comment__text txt13reg">
                    Увлекательные мысли, благодарю Вас!
                  </p>
                  <div class="comment__bottom">
                    <div class="comment__bottom-stats-item action-state">
                      <div class="comment__bottom-stats-like action-like">
                        <svg class="icon" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.558 16.9191C10.252 17.027 9.748 17.027 9.442 16.9191C6.832 16.0292 1 12.3169 1 6.02472C1 3.24719 3.241 1 6.004 1C7.642 1 9.091 1.79101 10 3.01348C10.909 1.79101 12.367 1 13.996 1C16.759 1 19 3.24719 19 6.02472C19 12.3169 13.168 16.0292 10.558 16.9191Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </div>
                      <p class="comment__bottom-stats-num txt12medium action-num">128</p>
                    </div>
                    <div class="comment__bottom-stats-item action-state">
                      <div class="comment__bottom-stats-dislike action-dislike">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="opposite" d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" fill="#fff"/>
                          <path d="M4.58249 13.1251C2.92499 11.5726 1.5 9.3601 1.5 6.5101C1.5 4.1926 3.3675 2.31763 5.67 2.31763C7.035 2.31763 8.2425 2.97762 9 3.99762C9.7575 2.97762 10.9725 2.31763 12.33 2.31763C13.1925 2.31763 13.995 2.5801 14.6625 3.0376" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                          <path class="opposite" d="M16.3051 5.25012C16.4326 5.64762 16.5001 6.07512 16.5001 6.51762C16.5001 11.7676 11.6401 14.8651 9.46512 15.6151C9.21012 15.7051 8.79013 15.7051 8.53513 15.6151C8.04763 15.4501 7.43264 15.1651 6.76514 14.7676" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M16.5 1.49988L1.5 16.4999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                      </div>
                      <p class="comment__bottom-stats-num txt12medium  action-num">24</p>
                    </div>
                    <button class="comment__btn-respond txt12medium">Ответить</button>
                    <button class="comment__btn-complain txt12reg">Пожаловаться</button>
                  </div>
                </div>
                <div class="comment__input-reply" hidden>
                  <form action="" class="leave-comment txt13medium">
                    <input type="text" class="leave-comment__input" placeholder="Комментарий">
                    <button class="btn-square leave-comment__btn"></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>