<div class="container">
  <form action="" class="articles-form">
    <div class="articles-form__best">
      <select name="" id="articles-form-best" value="Неделю">
        <option value="Неделю" class="articles-form__option" selected>Неделю</option>
        <option value="Месяц" class="articles-form__option">Месяц</option>
        <option value="Год" class="articles-form__option">Год</option>
      </select>
    </div>
    <div class="articles-form__category">
      <select name="" id="articles-form-category">
        <option value="Все" class="articles-form__option">Все</option>
        <option value="Новости" class="articles-form__option">Новости</option>
        <option value="Статья" class="articles-form__option">Статья</option>
        <option value="Документ" class="articles-form__option" selected>Документ</option>
        <option value="Реклама" class="articles-form__option">Реклама</option>
      </select>
    </div>
  </form>
</div>