<section class="fav">
  <div class="container">
    <div class="tabs__content">
      <div class="tabs__pane tabs__pane_show fav-article__wrapper">
        <div class="fav-article">
          <div class="user-block">
            <a href="../user.html" class="user-block__avatar">
              <img src="./assets/images/avatar_1.png" alt="">
            </a>
            <div class="user-block__details">
              <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
              <div class="user-block__info">
                <p class="user-block__info-raiting txt12medium raiting">4.9</p>
                <p class="user-block__info-date txt12reg">08.02.24 в 12:21</p>
              </div>
            </div>
            <button class="fav-article__delete fav__delete">
              <img src="./assets/images/close-circle-icon.svg" alt="">
            </button>
          </div>
          <a href="../articles.html" class="fav-article__body">
            <h3 class="fav-article__body-title txt16semibold">
              Топ 10 бизнес-идей в 2024г
            </h3>
            <p class="fav-article__body-text txt13reg">
              Бизнес-пейзаж России никогда не был статичным,но прошедший 2023 год особенно выделился своими фундаментальными сдвигами и переменами, последствия которых перетекли и в 2024 годи, безусловно, скажутся и на всей дальнейшей ситуации. 
            </p>
          </a>
        </div>
      </div>
      <div class="tabs__pane fav-announc__wrapper">
        <div class="sale-announc__item fav-announc">
          <div class="sale-announc__item-actions">
            <button class="fav-announc__delete fav__delete">
              <img src="./assets/images/close-icon.svg" alt="">
            </button>
          </div>
          <a href="" class="sale-announc__item-img">
            <img src="./assets/images/item_1.png" alt="">
          </a>
          <div class="sale-announc__item-info">
            <div class="sale-announc__item-user">
              <a href="" class="sale-announc__item-avatar">
                <img src="./assets/images/avatar_2.png" alt="">
              </a>
              <p class="sale-announc__item-raiting raiting txt12medium ">4.9</p>
            </div>
            <div class="sale-announc__item-details">
              <a href="" class="sale-announc__item-title txt14medium">Компьютер для учебы</a>
              <p class="sale-announc__item-price txt14medium">35 000<span> ₽</span></p>
              <p class="sale-announc__item-date txt12reg">08.02.24<span> в </span>12:21</p>
            </div>
          </div>
        </div>
        <div class="sale-announc__item fav-announc">
          <div class="sale-announc__item-actions">
            <button class="fav-announc__delete fav__delete">
              <img src="./assets/images/close-icon.svg" alt="">
            </button>
          </div>
          <a href="" class="sale-announc__item-img">
            <img src="./assets/images/item_1.png" alt="">
          </a>
          <div class="sale-announc__item-info">
            <div class="sale-announc__item-user">
              <a href="" class="sale-announc__item-avatar">
                <img src="./assets/images/avatar_2.png" alt="">
              </a>
              <p class="sale-announc__item-raiting raiting txt12medium ">4.9</p>
            </div>
            <div class="sale-announc__item-details">
              <a href="" class="sale-announc__item-title txt14medium">Компьютер для учебы</a>
              <p class="sale-announc__item-price txt14medium">35 000<span> ₽</span></p>
              <p class="sale-announc__item-date txt12reg">08.02.24<span> в </span>12:21</p>
            </div>
          </div>
        </div>
        <div class="sale-announc__item fav-announc">
          <div class="sale-announc__item-actions">
            <button class="fav-announc__delete fav__delete">
              <img src="./assets/images/close-icon.svg" alt="">
            </button>
          </div>
          <a href="" class="sale-announc__item-img">
            <img src="./assets/images/item_1.png" alt="">
          </a>
          <div class="sale-announc__item-info">
            <div class="sale-announc__item-user">
              <a href="" class="sale-announc__item-avatar">
                <img src="./assets/images/avatar_2.png" alt="">
              </a>
              <p class="sale-announc__item-raiting raiting txt12medium ">4.9</p>
            </div>
            <div class="sale-announc__item-details">
              <a href="" class="sale-announc__item-title txt14medium">Компьютер для учебы</a>
              <p class="sale-announc__item-price txt14medium">35 000<span> ₽</span></p>
              <p class="sale-announc__item-date txt12reg">08.02.24<span> в </span>12:21</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs__pane fav-user__wrapper">
        <div class="user-block fav-user">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_1.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
              <p class="user-block__info-date txt12reg">08.02.24 в 12:21</p>
            </div>
          </div>
          <button class="fav-user__delete fav__delete">
            <img src="./assets/images/close-circle-icon.svg" alt="">
          </button>
        </div>
        <div class="user-block fav-user">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_2.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
              <p class="user-block__info-date txt12reg">08.02.24 в 12:21</p>
            </div>
          </div>
          <button class="fav-user__delete fav__delete">
            <img src="./assets/images/close-circle-icon.svg" alt="">
          </button>
        </div>
        <div class="user-block fav-user">
          <a href="../user.html" class="user-block__avatar">
            <img src="./assets/images/avatar_3.png" alt="">
          </a>
          <div class="user-block__details">
            <a href="../user.html" class="user-block__name txt14medium">Василий Петров</a>
            <div class="user-block__info">
              <p class="user-block__info-raiting txt12medium raiting">4.9</p>
              <p class="user-block__info-date txt12reg">08.02.24 в 12:21</p>
            </div>
          </div>
          <button class="fav-user__delete fav__delete">
            <img src="./assets/images/close-circle-icon.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>