<section class="profile">
  <div class="container">
    <div class="user-block profile__user">
      <div class="user-block__avatar">
        <img src="./assets/images/avatar_2.png" alt="">
        <p class="user-block__info-raiting txt12medium raiting">4.8</p>
      </div>
      <div class="user-block__details">
        <p class="user-block__name txt16medium">Петр Васильев</p>
        <div class="user-block__info">
          <p class="user-block__info-date txt12reg">Ур.2 (Ежик)</p>
        </div>
      </div>
      <div class="profile__actions">
        <button class="user-profile-share">
          <img src="./assets/images/share.svg" alt="">
        </button>
        <button class="user-profile-fav">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.7299 3.51L15.4899 7.03C15.7299 7.52 16.3699 7.99 16.9099 8.08L20.0999 8.61C22.1399 8.95 22.6199 10.43 21.1499 11.89L18.6699 14.37C18.2499 14.79 18.0199 15.6 18.1499 16.18L18.8599 19.25C19.4199 21.68 18.1299 22.62 15.9799 21.35L12.9899 19.58C12.4499 19.26 11.5599 19.26 11.0099 19.58L8.01991 21.35C5.87991 22.62 4.57991 21.67 5.13991 19.25L5.84991 16.18C5.97991 15.6 5.74991 14.79 5.32991 14.37L2.84991 11.89C1.38991 10.43 1.85991 8.95 3.89991 8.61L7.08991 8.08C7.61991 7.99 8.25991 7.52 8.49991 7.03L10.2599 3.51C11.2199 1.6 12.7799 1.6 13.7299 3.51Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="profile__tabs tabs__nav txt15medium">
      <button class="profile__tab tabs__btn tabs__btn_active">Общие</button>
      <button class="profile__tab tabs__btn">Объявления</button>
      <button class="profile__tab tabs__btn">Статьи</button>
    </div>
  </div>
</section>
<section class="profile-gen">
  <div class="container">
    <div class="tabs__content">
      <div class="profile-gen__pane tabs__pane tabs__pane_show _gen">
        <div class="profile-gen__desc">
          <p class="profile-gen__desc-title txt13medium">Общее описание</p>
          <p class="profile-gen__desc-text txt13reg">
            Бизнес-пейзаж России никогда не был статичным, но прошедший 2023 год особенно выделился своимифундаментальными сдвигами и переменами, последствия которых перетекли и в 2024 годи, безусловно, скажутся и на всей дальнейшей ситуации.
          </p>
        </div>
        <div class="profile-gen__contacts">
          <div class="profile-gen__contacts-item user-contact">
            <div class="user-contact__img">
              <img src="./assets/images/tel-icon.svg" alt="">
            </div>
            <div class="user-contact__field user-contacts_tel">
              <div class="user-contact__info">
                <p class="user-contact__title txt13medium">Номер телефона</p>
                <a href="tel:+79991741254" type="tel" class="user-contact__input txt13reg">+7 999 174 12 54</a>
              </div>
            </div>
          </div>
          <div class="profile-gen__contacts-item user-contact">
            <div class="user-contact__img">
              <img src="./assets/images/email-icon.svg" alt="">
            </div>
            <div class="user-contact__field">
              <div class="user-contact__info">
                <p class="user-contact__title txt13medium">Почта</p>
                <a href="mailto:Vasiliy@gmail.com" class="user-contact__input txt13reg">Vasiliy@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="profile-gen__contacts-item user-contact">
            <div class="user-contact__img">
              <img src="./assets/images/youtube-icon.svg" alt="">
            </div>
            <div class="user-contact__field">
              <div class="user-contact__info">
                <p class="user-contact__title txt13medium">YouTube</p>
                <a href="youtube.com/chanel/vasiliy77" class="user-contact__input txt13reg">youtube.com/chanel/vasiliy77</a>
              </div>
            </div>
          </div>
          <div class="profile-gen__contacts-item user-contact">
            <div class="user-contact__img">
              <img src="./assets/images/telegram-icon.svg" alt="">
            </div>
            <div class="user-contact__field">
              <div class="user-contact__info">
                <p class="user-contact__title txt13medium">Telegram Канал</p>
                <a href="tg.me/Vasiliy77" class="user-contact__input txt13reg">tg.me/Vasiliy77</a>
              </div>
            </div>
          </div>
          <div class="profile-gen__contacts-item user-contact">
            <div class="user-contact__img">
              <img src="./assets/images/vk-icon.svg" alt="">
            </div>
            <div class="user-contact__field">
              <div class="user-contact__info">
                <p class="user-contact__title txt13medium">Канал ВК</p>
                <a type="vk.com/VVasiliy77" class="user-contact__input txt13reg">vk.com/VVasiliy77</a>
              </div>
            </div>
          </div>
          <div class="profile-gen__contacts-item user-contact">
            <div class="user-contact__img">
              <img src="./assets/images/insta-icon.svg" alt="">
            </div>
            <div class="user-contact__field">
              <div class="user-contact__info">
                <p class="user-contact__title txt13medium">Instagram</p>
                <input type="text" class="user-contact__input txt13reg" name="user-instagram" id="user-instagram" value="@vasiliy77" readonly>
              </div>
            </div>
          </div>


        </div>
        <div class="profile-imgs">
          <p class="profile-imgs__title txt13medium">Изображения</p>
          <div class="profile-imgs__swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="profile-imgs__slide">
                  <div class="profile-imgs__img">
                    <img src="./assets/images/item_1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="profile-imgs__slide">
                  <div class="profile-imgs__img">
                    <img src="./assets/images/article_1.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-gen__req">
          <div class="profile-gen__req-item user-contact">
            <div class="user-contact__field">
              <div class="user-contact__info">
                <p class="user-contact__title txt13medium">Реквизиты</p>
                <input type="text" class="user-contact__input txt13reg" name="user-requisites" id="user-requ" value="Россия, г. Краснодар, ул. Свободы, д23, Кв. 74" readonly>
              </div>
              <div class="user-contact__action contact-share">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.61251 12.6L8.83248 13.38C8.36248 13.85 7.60253 13.85 7.13253 13.38L6.3525 12.6C5.8825 12.13 5.8825 11.37 6.3525 10.9L7.13253 10.12C7.60253 9.65005 8.36248 9.65005 8.83248 10.12L9.61251 10.9C10.0825 11.37 10.0825 12.13 9.61251 12.6Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M14.2324 4.3L14.2324 3.2C14.2324 2.54 14.7724 2 15.4324 2L16.5324 2C17.1924 2 17.7325 2.54 17.7325 3.2L17.7325 4.3C17.7325 4.96 17.1924 5.5 16.5324 5.5L15.4324 5.5C14.7724 5.5 14.2324 4.96 14.2324 4.3Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M14.2324 19.2L14.2324 20.3C14.2324 20.96 14.7724 21.5 15.4324 21.5L16.5324 21.5C17.1924 21.5 17.7325 20.96 17.7325 20.3L17.7325 19.2C17.7325 18.54 17.1924 18 16.5324 18L15.4324 18C14.7724 18 14.2324 18.54 14.2324 19.2Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M14.5226 5.21001L9.22266 10.51Z" fill="currentColor"></path>
                  <path d="M14.5226 5.21001L9.22266 10.51" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M14.5226 18.29L9.22266 12.99Z" fill="currentColor"></path>
                  <path d="M14.5226 18.29L9.22266 12.99" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-gen__userid">
          <div class="profile-gen__userid-item user-contact">
            <div class="user-contact__img">
              <p class="id txt15medium">ID</p>
            </div>
            <div class="user-contact__field">
              <div class="user-contact__info">
                <p class="user-contact__title txt13medium">Ваш ID</p>
                <input type="text" class="user-contact__input txt13reg" name="user-id" id="user-id" value="12243648" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-gen__pane tabs__pane flex-block _sale">
        <div class="sale-announc__item">
          <div class="sale-announc__item-actions">
            <button class="sale-announc__item-share actions-share user-sale-share">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.61251 12.6L8.83248 13.38C8.36248 13.85 7.60253 13.85 7.13253 13.38L6.3525 12.6C5.8825 12.13 5.8825 11.37 6.3525 10.9L7.13253 10.12C7.60253 9.65005 8.36248 9.65005 8.83248 10.12L9.61251 10.9C10.0825 11.37 10.0825 12.13 9.61251 12.6Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.2324 4.3L14.2324 3.2C14.2324 2.54 14.7724 2 15.4324 2L16.5324 2C17.1924 2 17.7325 2.54 17.7325 3.2L17.7325 4.3C17.7325 4.96 17.1924 5.5 16.5324 5.5L15.4324 5.5C14.7724 5.5 14.2324 4.96 14.2324 4.3Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.2324 19.2L14.2324 20.3C14.2324 20.96 14.7724 21.5 15.4324 21.5L16.5324 21.5C17.1924 21.5 17.7325 20.96 17.7325 20.3L17.7325 19.2C17.7325 18.54 17.1924 18 16.5324 18L15.4324 18C14.7724 18 14.2324 18.54 14.2324 19.2Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.5226 5.21001L9.22266 10.51Z" fill="currentColor"/>
                <path d="M14.5226 5.21001L9.22266 10.51" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.5226 18.29L9.22266 12.99Z" fill="currentColor"/>
                <path d="M14.5226 18.29L9.22266 12.99" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button class="sale-announc__item-fav actions-fav user-sale-fav">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.7299 3.51L15.4899 7.03C15.7299 7.52 16.3699 7.99 16.9099 8.08L20.0999 8.61C22.1399 8.95 22.6199 10.43 21.1499 11.89L18.6699 14.37C18.2499 14.79 18.0199 15.6 18.1499 16.18L18.8599 19.25C19.4199 21.68 18.1299 22.62 15.9799 21.35L12.9899 19.58C12.4499 19.26 11.5599 19.26 11.0099 19.58L8.01991 21.35C5.87991 22.62 4.57991 21.67 5.13991 19.25L5.84991 16.18C5.97991 15.6 5.74991 14.79 5.32991 14.37L2.84991 11.89C1.38991 10.43 1.85991 8.95 3.89991 8.61L7.08991 8.08C7.61991 7.99 8.25991 7.52 8.49991 7.03L10.2599 3.51C11.2199 1.6 12.7799 1.6 13.7299 3.51Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
          <a href="" class="sale-announc__item-img">
            <img src="./assets/images/item_1.png" alt="">
          </a>
          <div class="sale-announc__item-info">
            <div class="sale-announc__item-user">
              <a href="" class="sale-announc__item-avatar">
                <img src="./assets/images/avatar_2.png" alt="">
              </a>
              <p class="sale-announc__item-raiting raiting txt12medium ">4.9</p>
            </div>
            <div class="sale-announc__item-details">
              <a href="" class="sale-announc__item-title txt14medium">Компьютер для учебы</a>
              <p class="sale-announc__item-price txt14medium">35 000<span> ₽</span></p>
              <p class="sale-announc__item-date txt12reg">08.02.24<span> в </span>12:21</p>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-gen__pane tabs__pane flex-block _articles">
        <div class="user-article">
          <a href="" class="user-article__body">
            <div class="user-block">
              <div class="user-block__avatar">
                <img src="./assets/images/avatar_2.png" alt="">
              </div>
              <div class="user-block__details">
                <p class="user-block__name txt14medium">Петр Васильев</p>
                <div class="user-block__info">
                  <p class="user-block__info-raiting txt12medium raiting">4.8</p>
                  <p class="user-block__info-date txt12reg">08.02.24 в 12:21</p>
                </div>
              </div>
            </div>
            <div class="fav-article__body">
              <h3 class="fav-article__body-title txt16semibold">
                Топ 10 бизнес-идей в 2024г
              </h3>
              <p class="fav-article__body-text txt13reg">
                Бизнес-пейзаж России никогда не был статичным,но прошедший 2023 год особенно выделился своими фундаментальными сдвигами и переменами, последствия которых перетекли и в 2024 годи, безусловно, скажутся и на всей дальнейшей ситуации. 
              </p>
            </div>
          </a>
          <div class="user-article__actions">
            <button class="articles__item-share user-article-share">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.61251 12.6L8.83248 13.38C8.36248 13.85 7.60253 13.85 7.13253 13.38L6.3525 12.6C5.8825 12.13 5.8825 11.37 6.3525 10.9L7.13253 10.12C7.60253 9.65005 8.36248 9.65005 8.83248 10.12L9.61251 10.9C10.0825 11.37 10.0825 12.13 9.61251 12.6Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.2324 4.3L14.2324 3.2C14.2324 2.54 14.7724 2 15.4324 2L16.5324 2C17.1924 2 17.7325 2.54 17.7325 3.2L17.7325 4.3C17.7325 4.96 17.1924 5.5 16.5324 5.5L15.4324 5.5C14.7724 5.5 14.2324 4.96 14.2324 4.3Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.2324 19.2L14.2324 20.3C14.2324 20.96 14.7724 21.5 15.4324 21.5L16.5324 21.5C17.1924 21.5 17.7325 20.96 17.7325 20.3L17.7325 19.2C17.7325 18.54 17.1924 18 16.5324 18L15.4324 18C14.7724 18 14.2324 18.54 14.2324 19.2Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.5226 5.21001L9.22266 10.51Z" fill="currentColor"/>
                <path d="M14.5226 5.21001L9.22266 10.51" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.5226 18.29L9.22266 12.99Z" fill="currentColor"/>
                <path d="M14.5226 18.29L9.22266 12.99" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="articles__item-fav user-article-fav">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.7299 3.51L15.4899 7.03C15.7299 7.52 16.3699 7.99 16.9099 8.08L20.0999 8.61C22.1399 8.95 22.6199 10.43 21.1499 11.89L18.6699 14.37C18.2499 14.79 18.0199 15.6 18.1499 16.18L18.8599 19.25C19.4199 21.68 18.1299 22.62 15.9799 21.35L12.9899 19.58C12.4499 19.26 11.5599 19.26 11.0099 19.58L8.01991 21.35C5.87991 22.62 4.57991 21.67 5.13991 19.25L5.84991 16.18C5.97991 15.6 5.74991 14.79 5.32991 14.37L2.84991 11.89C1.38991 10.43 1.85991 8.95 3.89991 8.61L7.08991 8.08C7.61991 7.99 8.25991 7.52 8.49991 7.03L10.2599 3.51C11.2199 1.6 12.7799 1.6 13.7299 3.51Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
          </div>
        </div>
        <div class="user-article">
          <a href="" class="user-article__body">
            <div class="user-block">
              <div class="user-block__avatar">
                <img src="./assets/images/avatar_2.png" alt="">
              </div>
              <div class="user-block__details">
                <p class="user-block__name txt14medium">Петр Васильев</p>
                <div class="user-block__info">
                  <p class="user-block__info-raiting txt12medium raiting">4.8</p>
                  <p class="user-block__info-date txt12reg">08.02.24 в 12:21</p>
                </div>
              </div>
            </div>
            <div class="fav-article__body">
              <h3 class="fav-article__body-title txt16semibold">
                Топ 10 бизнес-идей в 2024г
              </h3>
              <p class="fav-article__body-text txt13reg">
                Бизнес-пейзаж России никогда не был статичным,но прошедший 2023 год особенно выделился своими фундаментальными сдвигами и переменами, последствия которых перетекли и в 2024 годи, безусловно, скажутся и на всей дальнейшей ситуации. 
              </p>
            </div>
          </a>
          <div class="user-article__actions">
            <button class="articles__item-share user-article-share">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.61251 12.6L8.83248 13.38C8.36248 13.85 7.60253 13.85 7.13253 13.38L6.3525 12.6C5.8825 12.13 5.8825 11.37 6.3525 10.9L7.13253 10.12C7.60253 9.65005 8.36248 9.65005 8.83248 10.12L9.61251 10.9C10.0825 11.37 10.0825 12.13 9.61251 12.6Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.2324 4.3L14.2324 3.2C14.2324 2.54 14.7724 2 15.4324 2L16.5324 2C17.1924 2 17.7325 2.54 17.7325 3.2L17.7325 4.3C17.7325 4.96 17.1924 5.5 16.5324 5.5L15.4324 5.5C14.7724 5.5 14.2324 4.96 14.2324 4.3Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.2324 19.2L14.2324 20.3C14.2324 20.96 14.7724 21.5 15.4324 21.5L16.5324 21.5C17.1924 21.5 17.7325 20.96 17.7325 20.3L17.7325 19.2C17.7325 18.54 17.1924 18 16.5324 18L15.4324 18C14.7724 18 14.2324 18.54 14.2324 19.2Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.5226 5.21001L9.22266 10.51Z" fill="currentColor"/>
                <path d="M14.5226 5.21001L9.22266 10.51" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.5226 18.29L9.22266 12.99Z" fill="currentColor"/>
                <path d="M14.5226 18.29L9.22266 12.99" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="articles__item-fav user-article-fav">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.7299 3.51L15.4899 7.03C15.7299 7.52 16.3699 7.99 16.9099 8.08L20.0999 8.61C22.1399 8.95 22.6199 10.43 21.1499 11.89L18.6699 14.37C18.2499 14.79 18.0199 15.6 18.1499 16.18L18.8599 19.25C19.4199 21.68 18.1299 22.62 15.9799 21.35L12.9899 19.58C12.4499 19.26 11.5599 19.26 11.0099 19.58L8.01991 21.35C5.87991 22.62 4.57991 21.67 5.13991 19.25L5.84991 16.18C5.97991 15.6 5.74991 14.79 5.32991 14.37L2.84991 11.89C1.38991 10.43 1.85991 8.95 3.89991 8.61L7.08991 8.08C7.61991 7.99 8.25991 7.52 8.49991 7.03L10.2599 3.51C11.2199 1.6 12.7799 1.6 13.7299 3.51Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>