<div class="container">
  <div class="hamburger__wrapper btn-square">
    <span class="hamburger">
      <span class="hamburger__line"></span>
    </span>
  </div>
  <a href="#" class="header__logo">
    <div class="header__logo-img">
      <img src="./assets/images/logo.svg" alt="">
    </div>
    <h1 class="header__logo-text tl-logo">ParkIndustry</h1>
  </a>
  <form class="header__search">
    <input type="text" class="header__search-input txt14reg" placeholder="Поиск">
    <button class="header__search-btn"></button>
  </form>
</div>